@model IEnumerable<ASP_Epreuve_ASP_SQL.Models.ProduitListItemViewModel>
@inject Shared_Epreuve_ASP_SQL.Repositories.ICategorieRepository<BLL_Epreuve_ASP_SQL.Entities.Categorie> categorieRepository
@inject Shared_Epreuve_ASP_SQL.Repositories.ICritereEcoRepository<BLL_Epreuve_ASP_SQL.Entities.CritereEco> critereEcoRepository
@inject Shared_Epreuve_ASP_SQL.Repositories.IMediaRepository<BLL_Epreuve_ASP_SQL.Entities.Media> mediaRepository

@{
    ViewData["Title"] = "Index";
}

<h1>Filtres & Liste de produits :</h1>

<!--Filtres-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <!-- Filtre par nom de produit -->
                    @using (Html.BeginForm("FiltreNomProduit", "Produit", FormMethod.Get))
                    {
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nom de produit..." name="rechercheNom">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Rechercher</button>
                            </div>
                        </div>
                    }

                    <!-- Filtre par catégories -->
                     @using (Html.BeginForm("FiltreCategorie", "Produit", FormMethod.Get))
                     {
                         <div class="list-group">
                             <div class="container-fluid list-group-item border-0">
                                 <p class="text-black-50 fw-bold text-start">Catégories</p>
                                 <div id="categorieArea">
                                     @foreach (var categorie in categorieRepository.Get())
                                     {
                                         <div class="form-check">
                                             <input class="form-check-input" type="checkbox" name="categoriesSelectionnees" id="@categorie.Nom" value="@categorie.Nom">
                                             <label class="form-check-label" for="@categorie.Nom">
                                                 @categorie.Nom
                                             </label>
                                         </div>
                                     }
                                 </div>
                             </div>
                         </div>
                         <button type="submit" class="btn btn-primary">Filtrer</button>
                     }

                    <!-- Filtre par critères écologiques -->
                   @using (Html.BeginForm("FiltreCritereEco", "Produit", FormMethod.Get))
                    {
                        <div class="list-group">
                            <div class="container-fluid list-group-item border-0">
                                <p class="text-black-50 fw-bold text-start">Critères écologiques</p>
                                <div id="critereArea">
                                    @foreach (var critere in critereEcoRepository.Get())
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="criteresSelectionnes" id="@critere.Nom" value="@critere.Nom">
                                            <label class="form-check-label" for="@critere.Nom">
                                                @critere.Nom
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrer</button>
                    }
                </div>
            </div>
        </div>

        <!-- Contenu principal -->
        <div class="col-md-9">
            <!-- Tableau des produits -->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prix)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CritereEco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categorie)
                        </th>
                        <th>
                            Images :
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prix)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CritereEco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categorie)
                            </td>
                            <td>
                                @foreach (var media in mediaRepository.Get())
                                {
                                    if (item.Id_Produit == media.Id_Produit)
                                    {
                                        <img src="~/Assets/imgs/@media.Url" width="100" height="150" />
                                        break;
                                    }
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Produit }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id_Produit }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Produit })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

